{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}

    <ul>
        {% for latestNews in latestNews %}
            <li>
                <a href="{{ path('home', {'id': latestNews.id}) }}">
                    <h2>{{ latestNews.title }}</h2>
                </a>
                <p>{{ latestNews.content|slice(0, 100) }}...</p>
                <p><small>{{ latestNews.publicationDate|date('M d, Y') }}</small></p>
            </li>
        {% endfor %}
    </ul>
    

{% endblock %}
